@font-face {
  font-family: "iconfont"; /* Project id 4143023 */
  src: url('iconfont.woff2?t=1689776267376') format('woff2'),
       url('iconfont.woff?t=1689776267376') format('woff'),
       url('iconfont.ttf?t=1689776267376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinbi:before {
  content: "\e609";
}

.icon-fanhui:before {
  content: "\e616";
}

.icon-18erji-1:before {
  content: "\e688";
}

.icon-18erji-3:before {
  content: "\e689";
}

.icon-shezhi1:before {
  content: "\e851";
}

.icon-chengjiu1:before {
  content: "\ec72";
}

.icon-chengjiu2:before {
  content: "\e607";
}

.icon-fenlei:before {
  content: "\e669";
}

.icon-huohua:before {
  content: "\e895";
}

.icon-31haoyou:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-naozhong_o:before {
  content: "\ebb1";
}

.icon-shangdian:before {
  content: "\e629";
}

.icon--:before {
  content: "\e60b";
}

.icon-biaoqian:before {
  content: "\e634";
}

.icon-licheng:before {
  content: "\e6e6";
}

.icon-jindu_shalou:before {
  content: "\e65d";
}

.icon-yezi:before {
  content: "\e606";
}

